<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>first</title>
  <style>
    h1 {
      background-color: aquamarine;
      text-align: center;
      color: red;
    }
    h2 {
      background-color:beige;
      text-align:center;
      color:blue;
    }
    h3 {
      background-color:blueviolet;
      text-align: center;
      color:azure;
    }

  </style>
</head>
<body>
  <h1>Royal University of Phnom Penh</h1>
  <h2>Name: Phea Dalen</h2>
  <h3>Class: M5 ITE</h3>
</body>
</html>